<div class="header">
    <h1>Carrito</h1>
    <figure>
        <a href="/api/carts/669c161c6a9894fa8bb4d3c3/purchase">
            <img src="/img/cart.png" alt="carrito">
        </a>
    </figure>
</div>

<div class="enlaces">
    {{>menu}}
</div>

<hr>